.feature {
  padding-top: 94px;
}

.feature-list__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.feature-list {
  display: flex;
  margin-left: -30px;
}

.feature-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.thumb {
  background-color: var(--secondary-background-color);
  justify-content: center;
  align-items: center;
  height: 120px;
  display: flex;
}

.feature-list__thumb {
  margin-bottom: 30px;
}
